[submodule "submodules/Skeleton"]
	path = submodules/Skeleton
	url = https://github.com/dhg/Skeleton.git
[submodule "submodules/bassclef-open-sans"]
	path = submodules/bassclef-open-sans
	url = https://github.com/tomduck/bassclef-open-sans.git
[submodule "submodules/html5shiv"]
	path = submodules/html5shiv
	url = https://github.com/afarkas/html5shiv.git
[submodule "submodules/bassclef-font-awesome"]
	path = submodules/bassclef-font-awesome
	url = https://github.com/tomduck/bassclef-font-awesome.git
